<div class="content-wrapper">
	<h1>DIGI-QUIZZ</h1>
	<div class="svgwrapper">
		
	</div>
	<div class="form-wrapper">
		<form id="email-form" class="pure-form">
			<label for="email">saisissez votre pseudo :</label>
			<input name="email" type="email" class="pure-input-1" placeholder="Email" required value="ttt@ttt.com"><br><br>
			<button type="submit" class="button-xlarge pure-button pure-button-primary" id="submit-bt">SUIVANT</button>
		</form>
	</div>
</div>

