<div class="avatar-wrapper" id="obj-avatart-<%= id %>">
	<div class="avatar-box">
		<div class="background">
			<svg id="svg-avatar-<%= id %>" viewbox="-5 -5 110 110"></svg>
		</div>
	</div>
	<div class="player-name"><%= name %></div>
</div>