<div id="main-view">
	<div id="question-wrapper">
		<div id="question-box">Combien y a-t-il d'inscrit sur facebook ?</div>
		<div id="timer-box">
			<svg id="timer" viewbox="0 0 146 146">
			  <path id="border" transform="translate(63, 63)"/>
			  <path id="loader" transform="translate(63, 63) scale(.84)"/>
			</svg>
			<span class="time">00:10</span>
		</div>
	</div>
	<div id="avatar-wrapper">
		<div id="avatar-label">Players online : </div>
		<div id="avatar-box"></div>
	</div>
</div>